<div data-test-flash-message="true">
  <div class="columns is-mobile is-variable is-1">
    <div class="column is-narrow message-icon">
    </div>
    {{#if @yieldWithoutColumn}}
      {{yield}}
    {{else}}
      <div class="column">
        <div class="message-title">
          {{#if @title}}
            {{@title}}
          {{else}}
            {{this.alertType.text}}
          {{/if}}
        </div>
        {{#if @message}}
          <p class="message-body">
            {{@message}}
          </p>
        {{/if}}
        {{#if (has-block)}}
          <p class="message-actions">
            {{yield}}
          </p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
